*.o
*.exe
*.dev
*.layout
*.win
/src/app/node_modules
/src/app/.vscode
/src/app/package-lock.json
/src/app/dist
/src/doorlocking/data/*.html
/src/doorlocking/data/*.gz
/src/doorlocking/.vscode
/src/app/package-lock.json

